<div class="row pt-4">
    <div class="col-md-3 mx auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="md-0">Create Property</h3>
            </div>
            <div class="card-body">
                <form class="form">
                    <div class="form-group">
                        <label for="">Property Type</label>
                        <input [(ngModel)]="property.propertyType" name="propertyType" class="form-control rounded-0" required >
                    </div>

                    <div class="form-group">
                        <label for="">Locality</label>
                        <input [(ngModel)]="property.locality" name="locality" class="form-control rounded-0" required >
                    </div>

                    <div class="form-group">
                        <label for="">Budget</label>
                        <input [(ngModel)]="property.budget" name="budget" class="form-control rounded-0" required >
                    </div>

                    <button (click)="createProperty()" type="button" class="btn btn-primary float-right">Create</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-3 mx auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="md-0">Get All Properties</h3>
            </div>
            <div class="form-group">
                <button (click)="getAllProperties()" type="button" class="btn btn-primary float-right">Get</button>
            </div>
            
        </div>
    </div>

    <div class="col-md-3 mx auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="md-0">Get Properties By Type</h3>
            </div>
            <div class="card-body">
                <form class="form">
                    <div class="form-group">
                        <label for="">Property Type</label>
                        <input [(ngModel)]="propertyType" name="propertyType" class="form-control rounded-0" required >
                    </div>
                    <button (click)="getAllPropertiesByType()" type="button" class="btn btn-primary float-right">Get</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-3 mx auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="md-0">Get Properties By Locality</h3>
            </div>
            <div class="card-body">
                <form class="form">
                    <div class="form-group">
                        <label for="">Locality</label>
                        <input [(ngModel)]="locality" name="locality" class="form-control rounded-0" required >
                    </div>
                    <button (click)="getAllPropertiesByLocality()" type="button" class="btn btn-primary float-right">Get</button>
                </form>
            </div>
        </div>
    </div>
</div>

<br>
<h3>Properties</h3>
<div class="container">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Property Type</th>
            <th scope="col">Locality</th>
            <th scope="col">Budget</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let property of properties">
            <td>{{property.id}}</td>
            <td>{{property.propertyType}}</td>
            <td>{{property.locality}}</td>
            <td>{{property.budget}}</td>
          </tr>
        </tbody>
      </table>
</div>

<div class="container">
    <router-outlet></router-outlet>
  </div>
